html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.banner {
  max-height: 500px;
  position: relative;
}

.img-flex {
  width: 100%;
}

.absolute {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

h2 {
  font-size: 3rem;
  margin: 0;
}

p {
  font-family: "Roboto Condensed", sans-serif;
  overflow: hidden;
}

.btn-big {
  font-size: 1.5rem;
  text-decoration: none;
  background-color: grey;
  color: #fff;
  padding: .4em .75em .3em;
  border-radius: 8px;
}
