html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.banner {
  max-height: 500px;
  position: relative;
}

.img-flex {
  width: 100%;
  display: block;
}

.absolute {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25%;
  min-width: 30rem;
}

h2 {
  font-size: 3rem;
  margin: 0;
  width: 320px;
}

p {
  font-family: "Roboto Condensed", sans-serif;
  overflow: hidden;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: .1rem;
}

a {
  position: absolute;
}

.btn-big {
  font-size: 1.5rem;
  text-decoration: none;
  background-color: grey;
  color: #fff;
  padding: .4em .75em .3em;
  border-radius: 8px;
}

.btn {
  display: inline-block;
}

.btn:hover {
  background-color: lightgrey;
}

.circle {
  float: left;
  width: 33%;
}

.text {
  float: right;
  width: 66%;
}
